{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Page Banner Start -->
<div class="section page-banner">

    <img class="shape-1 animation-round" src="{% static "img/shape-8.webp" %}" alt="Shape">

    <img class="shape-2" src="{% static "img/shape/shape-23.webp" %}" alt="Shape">

    <div class="container">
        <!-- Page Banner Start -->
        <div class="page-banner-content">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Blog</li>
            </ul>
            <h2 class="title">Our <span>Blog</span></h2>
        </div>
        <!-- Page Banner End -->
    </div>

    <!-- Shape Icon Box Start -->
    <div class="shape-icon-box">

        <img class="icon-shape-1 animation-left" src="{% static "img/shape-5.webp" %}" alt="Shape">

        <div class="box-content">
            <div class="box-wrapper">
                <i class="ri-medal-line"></i>
            </div>
        </div>

        <img class="icon-shape-2" src="{% static "img/shape/shape-6.png" %}" alt="Shape">

    </div>
    <!-- Shape Icon Box End -->

    <img class="shape-3" src="{% static "img/shape/shape-24.webp" %}" alt="Shape">

    <img class="shape-author" src="{% static "img/author/author-11.webp" %}" alt="Shape">

</div>
<!-- Page Banner End -->
<!-- Blog Start -->
<div class="section section-padding mt-n10">
    <div class="container">

        <div class="row flex-row-reverse gx-10">
            <div class="col-lg-8">

                <!-- Blog Wrapper Start -->
                <div class="blog-wrapper">
                    <div class="row">
                        <div class="col-md-6">

                            <!-- Single Blog Start -->
                            <div class="single-blog">
                                <div class="blog-image">
                                    <a href="blog-details-left-sidebar.html"><img src="{% static "img/blog/blog-01.jpg" %}" alt="Blog"></a>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-author">
                                        <div class="author">
                                            <div class="author-thumb">
                                                <a href="#"><img src="{% static "img/author/author-01.jpg" %}" alt="Author"></a>
                                            </div>
                                            <div class="author-name">
                                                <a class="name" href="#">Jason Williams</a>
                                            </div>
                                        </div>
                                        <div class="tag">
                                            <a href="#">Science</a>
                                        </div>
                                    </div>

                                    <h4 class="title"><a href="blog-details-left-sidebar.html">Data Science and Machine Learning with Python - Hands On!</a></h4>

                                    <div class="blog-meta">
                                        <span> <i class="icofont-calendar"></i> 21 March, 2021</span>
                                        <span> <i class="icofont-heart"></i> 2,568+ </span>
                                    </div>

                                    <a href="blog-details-left-sidebar.html" class="btn btn-secondary btn-hover-primary">Read More</a>
                                </div>
                            </div>
                            <!-- Single Blog End -->

                        </div>
                        <div class="col-md-6">

                            <!-- Single Blog Start -->
                            <div class="single-blog">
                                <div class="blog-image">
                                    <a href="blog-details-left-sidebar.html"><img src="{% static "img/blog/blog-02.jpg" %}" alt="Blog"></a>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-author">
                                        <div class="author">
                                            <div class="author-thumb">
                                                <a href="#"><img src="{% static "img/author/author-02.jpg" %}" alt="Author"></a>
                                            </div>
                                            <div class="author-name">
                                                <a class="name" href="#">Pamela Foster</a>
                                            </div>
                                        </div>
                                        <div class="tag">
                                            <a href="#">UX Design</a>
                                        </div>
                                    </div>

                                    <h4 class="title"><a href="blog-details-left-sidebar.html">Create Amazing Color Schemes for Your UX Design Projects</a></h4>

                                    <div class="blog-meta">
                                        <span> <i class="icofont-calendar"></i> 21 March, 2021</span>
                                        <span> <i class="icofont-heart"></i> 2,568+ </span>
                                    </div>

                                    <a href="blog-details-left-sidebar.html" class="btn btn-secondary btn-hover-primary">Read More</a>
                                </div>
                            </div>
                            <!-- Single Blog End -->

                        </div>
                        <div class="col-md-6">

                            <!-- Single Blog Start -->
                            <div class="single-blog">
                                <div class="blog-image">
                                    <a href="blog-details-left-sidebar.html"><img src="{% static "img/blog/blog-03.jpg" %}" alt="Blog"></a>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-author">
                                        <div class="author">
                                            <div class="author-thumb">
                                                <a href="#"><img src="{% static "img/author/author-03.jpg" %}" alt="Author"></a>
                                            </div>
                                            <div class="author-name">
                                                <a class="name" href="#">Patricia Collins</a>
                                            </div>
                                        </div>
                                        <div class="tag">
                                            <a href="#">Business</a>
                                        </div>
                                    </div>

                                    <h4 class="title"><a href="blog-details-left-sidebar.html">Culture & Leadership: Strategies for a Successful Business</a></h4>

                                    <div class="blog-meta">
                                        <span> <i class="icofont-calendar"></i> 21 March, 2021</span>
                                        <span> <i class="icofont-heart"></i> 2,568+ </span>
                                    </div>

                                    <a href="blog-details-left-sidebar.html" class="btn btn-secondary btn-hover-primary">Read More</a>
                                </div>
                            </div>
                            <!-- Single Blog End -->

                        </div>
                        <div class="col-md-6">

                            <!-- Single Blog Start -->
                            <div class="single-blog">
                                <div class="blog-image">
                                    <a href="blog-details-left-sidebar.html"><img src="{% static "img/blog/blog-04.webp" %}" alt="Blog"></a>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-author">
                                        <div class="author">
                                            <div class="author-thumb">
                                                <a href="#"><img src="{% static "img/author/author-04.jpg" %}" alt="Author"></a>
                                            </div>
                                            <div class="author-name">
                                                <a class="name" href="#">Archie Neal</a>
                                            </div>
                                        </div>
                                        <div class="tag">
                                            <a href="#">Science</a>
                                        </div>
                                    </div>

                                    <h4 class="title"><a href="blog-details-left-sidebar.html">Data Science and Machine Learning with Python - Hands On!</a></h4>

                                    <div class="blog-meta">
                                        <span> <i class="icofont-calendar"></i> 21 March, 2021</span>
                                        <span> <i class="icofont-heart"></i> 2,568+ </span>
                                    </div>

                                    <a href="blog-details-left-sidebar.html" class="btn btn-secondary btn-hover-primary">Read More</a>
                                </div>
                            </div>
                            <!-- Single Blog End -->

                        </div>
                        <div class="col-md-6">

                            <!-- Single Blog Start -->
                            <div class="single-blog">
                                <div class="blog-image">
                                    <a href="blog-details-left-sidebar.html"><img src="{% static "img/blog/blog-05.webp" %}" alt="Blog"></a>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-author">
                                        <div class="author">
                                            <div class="author-thumb">
                                                <a href="#"><img src="{% static "img/author/author-05.jpg" %}" alt="Author"></a>
                                            </div>
                                            <div class="author-name">
                                                <a class="name" href="#">Randal Ramsey</a>
                                            </div>
                                        </div>
                                        <div class="tag">
                                            <a href="#">UX Design</a>
                                        </div>
                                    </div>

                                    <h4 class="title"><a href="blog-details-left-sidebar.html">Create Amazing Color Schemes for Your UX Design Projects</a></h4>

                                    <div class="blog-meta">
                                        <span> <i class="icofont-calendar"></i> 21 March, 2021</span>
                                        <span> <i class="icofont-heart"></i> 2,568+ </span>
                                    </div>

                                    <a href="blog-details-left-sidebar.html" class="btn btn-secondary btn-hover-primary">Read More</a>
                                </div>
                            </div>
                            <!-- Single Blog End -->

                        </div>
                        <div class="col-md-6">

                            <!-- Single Blog Start -->
                            <div class="single-blog">
                                <div class="blog-image">
                                    <a href="blog-details-left-sidebar.html"><img src="{% static "img/blog/blog-06.webp" %}" alt="Blog"></a>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-author">
                                        <div class="author">
                                            <div class="author-thumb">
                                                <a href="#"><img src="{% static "img/author/author-06.jpg" %}" alt="Author"></a>
                                            </div>
                                            <div class="author-name">
                                                <a class="name" href="#">Rochelle Thomas</a>
                                            </div>
                                        </div>
                                        <div class="tag">
                                            <a href="#">Business</a>
                                        </div>
                                    </div>

                                    <h4 class="title"><a href="blog-details-left-sidebar.html">Culture & Leadership: Strategies for a Successful Business</a></h4>

                                    <div class="blog-meta">
                                        <span> <i class="icofont-calendar"></i> 21 March, 2021</span>
                                        <span> <i class="icofont-heart"></i> 2,568+ </span>
                                    </div>

                                    <a href="blog-details-left-sidebar.html" class="btn btn-secondary btn-hover-primary">Read More</a>
                                </div>
                            </div>
                            <!-- Single Blog End -->

                        </div>
                        <div class="col-md-6">

                            <!-- Single Blog Start -->
                            <div class="single-blog">
                                <div class="blog-image">
                                    <a href="blog-details-left-sidebar.html"><img src="{% static "img/blog/blog-07.webp" %}" alt="Blog"></a>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-author">
                                        <div class="author">
                                            <div class="author-thumb">
                                                <a href="#"><img src="{% static "img/author/author-07.jpg" %}" alt="Author"></a>
                                            </div>
                                            <div class="author-name">
                                                <a class="name" href="#">Della Salazar</a>
                                            </div>
                                        </div>
                                        <div class="tag">
                                            <a href="#">Science</a>
                                        </div>
                                    </div>

                                    <h4 class="title"><a href="blog-details-left-sidebar.html">Data Science and Machine Learning with Python - Hands On!</a></h4>

                                    <div class="blog-meta">
                                        <span> <i class="icofont-calendar"></i> 21 March, 2021</span>
                                        <span> <i class="icofont-heart"></i> 2,568+ </span>
                                    </div>

                                    <a href="blog-details-left-sidebar.html" class="btn btn-secondary btn-hover-primary">Read More</a>
                                </div>
                            </div>
                            <!-- Single Blog End -->

                        </div>
                        <div class="col-md-6">

                            <!-- Single Blog Start -->
                            <div class="single-blog">
                                <div class="blog-image">
                                    <a href="blog-details-left-sidebar.html"><img src="{% static "img/blog/blog-08.webp" %}" alt="Blog"></a>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-author">
                                        <div class="author">
                                            <div class="author-thumb">
                                                <a href="#"><img src="{% static "img/author/author-08.webp" %}" alt="Author"></a>
                                            </div>
                                            <div class="author-name">
                                                <a class="name" href="#">Ricardo Patrick</a>
                                            </div>
                                        </div>
                                        <div class="tag">
                                            <a href="#">UX Design</a>
                                        </div>
                                    </div>

                                    <h4 class="title"><a href="blog-details-left-sidebar.html">Create Amazing Color Schemes for Your UX Design Projects</a></h4>

                                    <div class="blog-meta">
                                        <span> <i class="icofont-calendar"></i> 21 March, 2021</span>
                                        <span> <i class="icofont-heart"></i> 2,568+ </span>
                                    </div>

                                    <a href="blog-details-left-sidebar.html" class="btn btn-secondary btn-hover-primary">Read More</a>
                                </div>
                            </div>
                            <!-- Single Blog End -->

                        </div>
                    </div>
                </div>
                <!-- Blog Wrapper End -->

                <!-- Page Pagination End -->
                {% comment %} <div class="page-pagination">
                    <ul class="pagination justify-content-center">
                        <li><a href="#"><i class="icofont-rounded-left"></i></a></li>
                        <li><a class="active" href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#"><i class="icofont-rounded-right"></i></a></li>
                    </ul>
                </div> {% endcomment %}
                <!-- Page Pagination End -->

            </div>
            <div class="col-lg-4">

                <!-- Blog Sidebar Start -->
                <div class="sidebar">
            
                    <!-- Sidebar Widget Search Start -->
                    <div class="sidebar-widget widget-search">
                        <form action="#">
                            <input type="text" placeholder="Search here">
                            <button><i class="icofont-search-1"></i></button>
                        </form>
                    </div>
                    <!-- Sidebar Widget Search End -->
            
                    <!-- Sidebar Widget Category Start -->
                    <div class="sidebar-widget">
                        <h4 class="widget-title">Post Category</h4>
            
                        <div class="widget-category">
                            <ul class="category-list">
                                <li><a href="#">UI/UX Design <span>(16)</span></a></li>
                                <li><a href="#">Creative Writing <span>(03)</span></a></li>
                                <li><a href="#">Graphic Design <span>(08)</span></a></li>
                                <li><a href="#">Fine Arts <span>(18)</span></a></li>
                                <li><a href="#">Business Analytics <span>(02)</span></a></li>
                                <li><a href="#">Marketing <span>(14)</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Sidebar Widget Category End -->
            
                    <!-- Sidebar Widget Post Start -->
                    <div class="sidebar-widget">
                        <h4 class="widget-title">Recent Post</h4>
            
                        <div class="widget-post">
                            <ul class="post-items">
                                <li>
                                    <!-- Sidebar Widget Post Start -->
                                    <div class="single-post">
                                        <div class="post-thumb">
                                            <a href="blog-details-left-sidebar.html"><img src="{% static "img/blog/blog-01.jpg" %}" alt="Post"></a>
                                        </div>
                                        <div class="post-content">
                                            <h5 class="title"><a href="blog-details-left-sidebar.html">Create Amazing Color Schemes Design</a></h5>
                                            <span class="date"><i class="icofont-calendar"></i> 21 March, 2021</span>
                                        </div>
                                    </div>
                                    <!-- Sidebar Widget Post End -->
                                </li>
                                <li>
                                    <!-- Sidebar Widget Post Start -->
                                    <div class="single-post">
                                        <div class="post-thumb">
                                            <a href="blog-details-left-sidebar.html"><img src="{% static "img/blog/blog-02.jpg" %}" alt="Post"></a>
                                        </div>
                                        <div class="post-content">
                                            <h5 class="title"><a href="blog-details-left-sidebar.html">Data Science Machine Learning with Python</a></h5>
                                            <span class="date"><i class="icofont-calendar"></i> 21 March, 2021</span>
                                        </div>
                                    </div>
                                    <!-- Sidebar Widget Post End -->
                                </li>
                                <li>
                                    <!-- Sidebar Widget Post Start -->
                                    <div class="single-post">
                                        <div class="post-thumb">
                                            <a href="blog-details-left-sidebar.html"><img src="{% static "img/blog/blog-03.jpg" %}" alt="Post"></a>
                                        </div>
                                        <div class="post-content">
                                            <h5 class="title"><a href="blog-details-left-sidebar.html">Leadership: Strategies for Business</a></h5>
                                            <span class="date"><i class="icofont-calendar"></i> 21 March, 2021</span>
                                        </div>
                                    </div>
                                    <!-- Sidebar Widget Post End -->
                                </li>
                                <li>
                                    <!-- Sidebar Widget Post Start -->
                                    <div class="single-post">
                                        <div class="post-thumb">
                                            <a href="blog-details-left-sidebar.html"><img src="{% static "img/blog/blog-04.webp" %}" alt="Post"></a>
                                        </div>
                                        <div class="post-content">
                                            <h5 class="title"><a href="blog-details-left-sidebar.html">Illustrating Badges & Geometric Shapes</a></h5>
                                            <span class="date"><i class="icofont-calendar"></i> 21 March, 2021</span>
                                        </div>
                                    </div>
                                    <!-- Sidebar Widget Post End -->
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Sidebar Widget Post End -->
            
                    <!-- Sidebar Widget Tags Start -->
                    <div class="sidebar-widget">
                        <h4 class="widget-title">Popular Tags</h4>
            
                        <div class="widget-tags">
                            <ul class="tags-list">
                                <li><a href="#">Design</a></li>
                                <li><a href="#">Education</a></li>
                                <li><a href="#">Education</a></li>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">Education</a></li>
                                <li><a href="#">Education</a></li>
                                <li><a href="#">Design</a></li>
                            </ul> 
                        </div>
                    </div>
                    <!-- Sidebar Widget Tags End -->
            
                    <!-- Sidebar Widget Share Start -->
                    <div class="sidebar-widget">
                        <h4 class="widget-title">Share Course:</h4>
            
                        <ul class="social">
                            <li><a href="#"><i class="ri-facebook-circle-line"></i></a></li>
                            <li><a href="#"><i class="ri-linkedin-fill"></i></a></li>
                            <li><a href="#"><i class="ri-twitter-line"></i></a></li>
                            <li><a href="#"><i class="ri-skype-line"></i></a></li>
                            <li><a href="#"><i class="ri-instagram-line"></i></a></li>
                        </ul>
                    </div>
                    <!-- Sidebar Widget Share End -->
            
                </div>
                <!-- Blog Sidebar End -->
            
            </div>
        </div>

    </div>
</div>
<!-- Blog End -->
{% endblock content %}