{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- Courses Start -->
  <!-- Page Banner Start -->
  <div class="section page-banner">
    <img class="shape-1 animation-round" src="{% static 'img/shape-8.webp' %}" alt="Shape" />

    <img class="shape-2" src="{% static 'img/shape/shape-23.webp' %}" alt="Shape" />

    <div class="container">
      <!-- Page Banner Start -->
      <div class="page-banner-content">
        <ul class="breadcrumb">
          <li>
            <a href="/">Home</a>
          </li>
          <li class="active">Blog</li>
        </ul>
        <h2 class="title">Our <span>Blog</span></h2>
      </div>
      <!-- Page Banner End -->
    </div>

    <!-- Shape Icon Box Start -->
    <div class="shape-icon-box">
      <img class="icon-shape-1 animation-left" src="{% static 'img/shape-5.webp' %}" alt="Shape" />

      <div class="box-content">
        <div class="box-wrapper">
          <i class="ri-medal-line"></i>
        </div>
      </div>

      <img class="icon-shape-2" src="{% static 'img/shape/shape-6.png' %}" alt="Shape" />
    </div>
    <!-- Shape Icon Box End -->

    <img class="shape-3" src="{% static 'img/shape/shape-24.webp' %}" alt="Shape" />

    <img class="shape-author" src="{% static 'img/author/author-11.webp' %}" alt="Shape" />
  </div>
  <!-- Page Banner End -->
  <div class="section section-padding mt-n1">
    <div class="container">
      <!-- Blog Wrapper Start -->
      <div class="blog-wrapper">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <!-- Single Blog Start -->
            <div class="single-blog">
              <div class="blog-image">
                <a href="blog-details-left-sidebar.html"><img src="{% static 'img/blog/blog-01.jpg' %}" alt="Blog" /></a>
              </div>
              <div class="blog-content">
                <div class="blog-author">
                  <div class="author">
                    <div class="author-thumb">
                      <a href="#"><img src="{% static 'img/author/author-01.jpg' %}" alt="Author" /></a>
                    </div>
                    <div class="author-name">
                      <a class="name" href="#">Jason Williams</a>
                    </div>
                  </div>
                  <div class="tag">
                    <a href="#">Science</a>
                  </div>
                </div>

                <h4 class="title"><a href="blog-details-left-sidebar.html">Data Science and Machine Learning with Python - Hands On!</a></h4>

                <div class="blog-meta">
                  <span><i class="ri-calendar-view"></i> 21 August, 2025</span>
                  <span><i class="ri-heart-line"></i> 2,568+</span>
                </div>

                <a href="blog-details-left-sidebar.html" class="btn btn-secondary btn-hover-primary">Read More</a>
              </div>
            </div>
            <!-- Single Blog End -->
          </div>
          <div class="col-lg-4 col-md-6">
            <!-- Single Blog Start -->
            <div class="single-blog">
              <div class="blog-image">
                <a href="blog-details-left-sidebar.html"><img src="{% static 'img/blog/blog-02.jpg' %}" alt="Blog" /></a>
              </div>
              <div class="blog-content">
                <div class="blog-author">
                  <div class="author">
                    <div class="author-thumb">
                      <a href="#"><img src="{% static 'img/author/author-02.jpg' %}" alt="Author" /></a>
                    </div>
                    <div class="author-name">
                      <a class="name" href="#">Pamela Foster</a>
                    </div>
                  </div>
                  <div class="tag">
                    <a href="#">UX Design</a>
                  </div>
                </div>

                <h4 class="title"><a href="blog-details-left-sidebar.html">Create Amazing Color Schemes for Your UX Design Projects</a></h4>

                <div class="blog-meta">
                  <span><i class="ri-calendar-view"></i> 21 March, 2021</span>
                  <span><i class="ri-heart-line"></i> 2,568+</span>
                </div>

                <a href="blog-details-left-sidebar.html" class="btn btn-secondary btn-hover-primary">Read More</a>
              </div>
            </div>
            <!-- Single Blog End -->
          </div>
          <div class="col-lg-4 col-md-6">
            <!-- Single Blog Start -->
            <div class="single-blog">
              <div class="blog-image">
                <a href="blog-details-left-sidebar.html"><img src="{% static 'img/blog/blog-03.jpg' %}" alt="Blog" /></a>
              </div>
              <div class="blog-content">
                <div class="blog-author">
                  <div class="author">
                    <div class="author-thumb">
                      <a href="#"><img src="{% static 'img/author/author-03.jpg' %}" alt="Author" /></a>
                    </div>
                    <div class="author-name">
                      <a class="name" href="#">Patricia Collins</a>
                    </div>
                  </div>
                  <div class="tag">
                    <a href="#">Business</a>
                  </div>
                </div>

                <h4 class="title"><a href="blog-details-left-sidebar.html">Culture & Leadership: Strategies for a Successful Business</a></h4>

                <div class="blog-meta">
                  <span><i class="ri-calendar-view"></i> 21 March, 2021</span>
                  <span><i class="ri-heart-line"></i>2,568+</span>
                </div>

                <a href="blog-details-left-sidebar.html" class="btn btn-secondary btn-hover-primary">Read More</a>
              </div>
            </div>
            <!-- Single Blog End -->
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <!-- Single Blog Start -->
            <div class="single-blog">
              <div class="blog-image">
                <a href="blog-details-left-sidebar.html"><img src="{% static 'img/blog/blog-01.jpg' %}" alt="Blog" /></a>
              </div>
              <div class="blog-content">
                <div class="blog-author">
                  <div class="author">
                    <div class="author-thumb">
                      <a href="#"><img src="{% static 'img/author/author-01.jpg' %}" alt="Author" /></a>
                    </div>
                    <div class="author-name">
                      <a class="name" href="#">Jason Williams</a>
                    </div>
                  </div>
                  <div class="tag">
                    <a href="#">Science</a>
                  </div>
                </div>

                <h4 class="title"><a href="blog-details-left-sidebar.html">Data Science and Machine Learning with Python - Hands On!</a></h4>

                <div class="blog-meta">
                  <span><i class="ri-calendar-view"></i> 21 March, 2021</span>
                  <span><i class="ri-heart-line"></i> 2,568+</span>
                </div>

                <a href="blog-details-left-sidebar.html" class="btn btn-secondary btn-hover-primary">Read More</a>
              </div>
            </div>
            <!-- Single Blog End -->
          </div>
          <div class="col-lg-4 col-md-6">
            <!-- Single Blog Start -->
            <div class="single-blog">
              <div class="blog-image">
                <a href="blog-details-left-sidebar.html"><img src="{% static 'img/blog/blog-02.jpg' %}" alt="Blog" /></a>
              </div>
              <div class="blog-content">
                <div class="blog-author">
                  <div class="author">
                    <div class="author-thumb">
                      <a href="#"><img src="{% static 'img/author/author-02.jpg' %}" alt="Author" /></a>
                    </div>
                    <div class="author-name">
                      <a class="name" href="#">Pamela Foster</a>
                    </div>
                  </div>
                  <div class="tag">
                    <a href="#">UX Design</a>
                  </div>
                </div>

                <h4 class="title"><a href="blog-details-left-sidebar.html">Create Amazing Color Schemes for Your UX Design Projects</a></h4>

                <div class="blog-meta">
                  <span><i class="ri-calendar-view"></i> 21 March, 2021</span>
                  <span><i class="ri-heart-line"></i> 2,568+</span>
                </div>

                <a href="blog-details-left-sidebar.html" class="btn btn-secondary btn-hover-primary">Read More</a>
              </div>
            </div>
            <!-- Single Blog End -->
          </div>
          <div class="col-lg-4 col-md-6">
            <!-- Single Blog Start -->
            <div class="single-blog">
              <div class="blog-image">
                <a href="blog-details-left-sidebar.html"><img src="{% static 'img/blog/blog-03.jpg' %}" alt="Blog" /></a>
              </div>
              <div class="blog-content">
                <div class="blog-author">
                  <div class="author">
                    <div class="author-thumb">
                      <a href="#"><img src="{% static 'img/author/author-03.jpg' %}" alt="Author" /></a>
                    </div>
                    <div class="author-name">
                      <a class="name" href="#">Patricia Collins</a>
                    </div>
                  </div>
                  <div class="tag">
                    <a href="#">Business</a>
                  </div>
                </div>

                <h4 class="title"><a href="blog-details-left-sidebar.html">Culture & Leadership: Strategies for a Successful Business</a></h4>

                <div class="blog-meta">
                  <span><i class="ri-calendar-view"></i> 21 March, 2021</span>
                  <span><i class="ri-heart-line"></i> 2,568+</span>
                </div>

                <a href="blog-details-left-sidebar.html" class="btn btn-secondary btn-hover-primary">Read More</a>
              </div>
            </div>
            <!-- Single Blog End -->
          </div>
        </div>
      </div>
      <!-- Blog Wrapper End -->
    </div>
  </div>
{% endblock %}
