{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Courses Start -->
<!-- Page Banner Start -->
<div class="section page-banner">

    <img class="shape-1 animation-round" src="{% static "img/shape-8.webp" %}" alt="Shape">

    <img class="shape-2" src="{% static "img/shape/shape-23.webp" %}" alt="Shape">
 
    <div class="container">
        <!-- Page Banner Start -->
        <div class="page-banner-content">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Courses</li>
            </ul>
            <h2 class="title">My <span>Courses</span></h2>
        </div>
        <!-- Page Banner End -->
    </div>

    <!-- Shape Icon Box Start -->
    <div class="shape-icon-box">

        <img class="icon-shape-1 animation-left" src="{% static "img/shape-5.webp" %}" alt="Shape">

        <div class="box-content">
            <div class="box-wrapper">
                <i class="ri-medal-line"></i>
            </div>
        </div>

        <img class="icon-shape-2" src="{% static "img/shape/shape-6.png" %}" alt="Shape">

    </div>
    <!-- Shape Icon Box End -->

    <img class="shape-3" src="{% static "img/shape/shape-24.webp" %}" alt="Shape">

    <img class="shape-author" src="{% static "img/author/author-11.webp" %}" alt="Shape">

</div>
<!-- courses/course_list.html -->

<div class="section section-padding">
    <div class="container">
        <!--courses wrapper start-->
        <div class="courses-category-wrapper">
            <!-- Search bar -->
            <div class="courses-search search-2">
                <input type="text" placeholder="Search here">
                <button><i class="ri-search-line"></i></button>
            </div>

            <!-- Category menu -->
            <ul class="category-menu">
                <li><a class="active" href="#courses">All Courses</a></li>
                <li><a href="#">Collections</a></li>
                <li><a href="#">Wishlist</a></li>
                <li><a href="#">Archived</a></li>
            </ul>
        </div>
        <!-- Courses Wrapper Start  -->
        {% comment %} <div class="courses-wrapper-02">
            {% if messages%}
            {% for message in messages %}
            {% if message.tags == 'info'%}
            <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
              <div id="liveToast" class="toast fade" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header toast-head-red">
                  <strong class="me-auto py-1 text-{{message.tags}}">{{ message }}</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body toast-body-red py-4">
                  Course you are trying to purchase it is already purchased by you...
                </div>
              </div>
            </div>
            {% elif message.tags == 'success'%}
            <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
              <div id="liveToast" class="toast fade" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header toast-head-green">
                  <strong class="me-auto py-1 text-{{message.tags}}">{{ message }}</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body toast-body-green py-4">
                  Course Purchsed Successfully..!! Now you can Start Learning. Best Of Luck
                </div>
              </div>
            </div>
            {% elif message.tags == 'warning'%}
            <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
              <div id="liveToast" class="toast fade" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header toast-head-green">
                  <strong class="me-auto py-1 ">{{ message }}</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
              
              </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            
            <div class="row">
                {% for purchased_course in purchased_courses %}
                    {% for course_detail in courses %}
                        {% if purchased_course.course_id == course_detail.pk %}
                        <div class="col-lg-4 col-md-6">
                            <!-- Single Courses Start -->
                            <div class="single-courses">
                                <div class="courses-images">
                                    <a href="{% url "render_course" course_detail.slug %}"><img src="{{course_detail.image.url}}" alt="Courses"></a>
        
                                    <div class="courses-option dropdown">
                                        <button class="option-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#"><i class="icofont-share-alt"></i> Share</a></li>
                                            <li><a href="#"><i class="icofont-plus"></i> Create Collection</a></li>
                                            <li><a href="#"><i class="icofont-star"></i> Favorite</a></li>
                                            <li><a href="#"><i class="icofont-archive"></i> Archive</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="courses-content">

                                    {% if course_item.author.all %}
                                        {% with first_author=course_item.author.first %}
                                            <div class="courses-author">
                                                <div class="author">
                                                    <div class="author-thumb">
                                                        <a href="#"><img src="{{ first_author.image.url }}" alt="Author"></a>
                                                    </div>
                                                    <div class="author-name">
                                                        <a class="name" href="#">{{ first_author.name }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endwith %}
                                    {% else %}
                                        <p>Instructors information may be hidden or instructors not assigned yet.</p>
                                    {% endif %}
        
                                    <h4 class="title"><a href="courses-details.html">{{purchased_course.course_name}}</a></h4>
        
                                    <div class="courses-rating">
                                        <p>38% Complete</p>
        
                                        <div class="rating-progress-bar">
                                            <div class="rating-line" style="width: 38%;"></div>
                                        </div>
        
                                        <div class="rating-meta">
                                            <span class="rating-star">
                                                <span class="rating-bar" style="width: 80%;"></span>
                                            </span>
                                            <p>Your rating</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Courses End -->
                        </div>
                        {% endif %}
                    {% endfor %}
                {% empty %}
                        <p class="p-5 text-center" style="font-size: 32px;">To Start Learning Purchase a Course First !! </p>
                {% endfor %}
                </div>
        </div>
         {% endcomment %}

         <div class="courses-wrapper-02">
            {% comment %} {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'info' %}
                        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                            <div id="liveToast" class="toast fade" role="alert" aria-live="assertive" aria-atomic="true">
                                <div class="toast-header toast-head-red">
                                    <strong class="me-auto py-1 text-{{ message.tags }}">{{ message }}</strong>
                                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                                </div>
                                <div class="toast-body toast-body-red py-4">
                                    Course you are trying to purchase it is already purchased by you...
                                </div>
                            </div>
                        </div>
                    {% elif message.tags == 'success' %}
                        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                            <div id="liveToast" class="toast fade" role="alert" aria-live="assertive" aria-atomic="true">
                                <div class="toast-header toast-head-green">
                                    <strong class="me-auto py-1 text-{{ message.tags }}">{{ message }}</strong>
                                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                                </div>
                                <div class="toast-body toast-body-green py-4">
                                    Course Purchased Successfully..!! Now you can Start Learning. Best Of Luck
                                </div>
                            </div>
                        </div>
                    {% elif message.tags == 'warning' %}
                        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                            <div id="liveToast" class="toast fade" role="alert" aria-live="assertive" aria-atomic="true">
                                <div class="toast-header toast-head-green">
                                    <strong class="me-auto py-1 ">{{ message }}</strong>
                                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                                </div>
                                <!-- <div class="toast-body toast-body-green py-4">
                                    Course Purchased Successfully..!! Now you can Start Learning. Best Of Luck
                                </div> -->
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
             {% endcomment %}
             {% comment %} {% if messages %}
             {% for message in messages %}
             <div class="alert {{ message.tags }} mb-0 mt-2 d-flex align-items-center" role="alert">
                 <div>
                     {{ message }}
                 </div>
               </div>
               {% endfor %}
             {% endif %} {% endcomment %}

             {% if messages %}
             {% for message in messages %}
             <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                <div id="liveToast" class="toast fade" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header toast-head-green">
                        <strong class="me-auto py-1 ">{{ message }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body toast-body-green py-4" >
                        {{ message.extra_tags }}
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}

            <div class="row">
                {% for purchased_course in purchased_courses %}
                    {% for course_detail in courses %}
                        {% if purchased_course.course_id == course_detail.pk %}
                            <div class="col-lg-4 col-md-6">
                                <!-- Single Courses Start -->
                                <div class="single-courses">
                                    <div class="courses-images">
                                        <a href="{% url "render_course" course_detail.slug %}">
                                            <img src="{{ course_detail.image.url }}" alt="Courses">
                                        </a>
                
                                        <div class="courses-option dropdown">
                                            <button class="option-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#"><i class="icofont-share-alt"></i> Share</a></li>
                                                <li><a href="#"><i class="icofont-plus"></i> Create Collection</a></li>
                                                <li><a href="#"><i class="icofont-star"></i> Favorite</a></li>
                                                <li><a href="#"><i class="icofont-archive"></i> Archive</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="courses-content">
                                        {% if course_detail.author.all %}
                                            {% with first_author=course_detail.author.first %}
                                                <div class="courses-author">
                                                    <div class="author">
                                                        <div class="author-thumb">
                                                            <a href="#"><img src="{{ first_author.image.url }}" alt="Author"></a>
                                                        </div>
                                                        <div class="author-name">
                                                            <a class="name" href="#">{{ first_author.name }}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endwith %}
                                        {% else %}
                                            <p>Instructors information may be hidden or instructors not assigned yet.</p>
                                        {% endif %}
                
                                        <h4 class="title">
                                            <a href="{% url "courses-details" course_detail.id %}">{{ purchased_course.course_name }}</a>
                                        </h4>
                
                                        <div class="courses-rating">
                                            <p>38% Complete</p>
                
                                            <div class="rating-progress-bar">
                                                <div class="rating-line" style="width: 38%;"></div>
                                            </div>
                
                                            <div class="rating-meta">
                                                <span class="rating-star">
                                                    <span class="rating-bar" style="width: 80%;"></span>
                                                </span>
                                                <p>Your rating</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Courses End -->
                            </div>
                        {% endif %}
                    {% endfor %}
                {% empty %}
                    <p class="p-5 text-center" style="font-size: 32px;">To Start Learning Purchase a Course First !!</p>
                {% endfor %}
            </div>
        </div>
        
        <!-- Courses Wrapper End  -->
    </div>
</div>
<div class="section section-padding download-section">

    <div class="app-shape-1"></div>
    <div class="app-shape-2"></div>
    <div class="app-shape-3"></div>
    <div class="app-shape-4"></div>

    <div class="container">

        <!-- Download App Wrapper Start -->
        <div class="download-app-wrapper mt-n6">

            <!-- Section Title Start -->
            <div class="section-title section-title-white">
                <h5 class="sub-title">Ready to start?</h5>
                <h2 class="main-title">Watch our latest tutorials videos and subscribe our channel.</h2>
            </div>
            <!-- Section Title End -->

            <img class="shape-1 animation-right" src="{% static "img/shape/shape-14.png" %}" alt="Shape">

            <!-- Download App Button End -->
            <div class="download-app-btn">
                <ul class="app-btn">
                    <li><a href="#"><img src="{% static "img/brand/youtube1.png" %}" alt="Youtube"></a></li>
                    <li><a href="#"><img src="{% static "img/brand/linkedin2.png" %}" alt="Linkedin"></a></li>
                </ul>
            </div>
            <!-- Download App Button End -->

        </div>
        <!-- Download App Wrapper End -->

    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
      var toastEl = document.getElementById('liveToast');
      var toast = new bootstrap.Toast(toastEl);
      toast.show();
    });
  </script>
{% endblock content %}
